body {
  background-color: yellow;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.head {
  background-color: orange;
  padding: 1em;
  text-align: center;
}
.head p {
  font-size: 2vmax;
  font-weight: 900;
}
.space {
  display: flex;
  justify-content: space-around;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 10vmin;
  background-color: rgb(0, 183, 255);
  box-shadow: 10px 10px rgba(0, 183, 255, 0.247);
  border-radius: 12px;
}
.box2 {
  width: min-content;
  border: 1px solid black;
  padding: 0.5em;
  background-color: white;
  box-shadow: 5px 5px gray;
  font-size: 5vmin;
  border-radius: 12px;
  text-align: center;
  height: max-content;
  margin: 1em;
}
.box2 p {
  border: 2px dashed black;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}
.datedetail {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.timedetail {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.name {
  font-size: 2vmax;
}
